{% extends 'base.html' %}

{% block content %}

<title>Signup</title>
<div class="pageHeader">
    <h1>Register</h1>
</div>
<form class="pageContent" action="/signup" method=post enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {{ form.email.label }}
    {{ form.email }}<br>
    {{ form.username.label }}
    {{ form.username }}<br>
    {{ form.password.label }}
    {{ form.password }}<br>
    {{ form.password2.label }} {{form.password2 }}<br>
    {{ form.submit }}
</form>
{% endblock %}
