#nav-bar {
    background-color: rgb(109,76,75);
    color: rgb(255,249,196);
}

#footer {
    background-color: rgb(109, 76, 75); 
    color: rgb(255,249,196); 
    position: fixed; 
    bottom: 0; 
    width: 99%;
}

#toaster {    
    bottom: 700px; 
    left: 0; 
    width: 100%;
}

#navButtons {
    position: absolute;
    color: rgb(255,249,196);
    right: 0px; 
}

#footButtons {
    position: absolute;
    right: 0px;
}

a:link {
    text-decoration:none;
    color:inherit;
}
a:visited {
    color: inherit;
}
