<!DOCTYPE html>
{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block title %}Tavern Cellar{% endblock %} 

{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="
        {{ url_for('static', filename='base.css') }}">

{% endblock %}

{% block content %}
{{ super() }}
<div class="topBar"> 
    
    <h3>TavernCellar</h3>
</div>
    {{ container() }}
	    {{ row() }}
            {{ col(['s12', 'm6']) }} 
                {# util.card(title, content, actions = []#}
                {{ util.card('The Bar', '<p>This is the Bar!</p>', 
                    [['https://github.com/kwmcc/TavernCellar', 'Our Github']])}}

            {{ enddiv() }}
        {{ enddiv() }}
    {{ enddiv() }}
{% endblock %}

