<html>
  <head>
    {% block head %}
    <!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
    <script src={{url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.min.js', _external=True)}}>
    </script>

    <!-- 2. Use an HTML Import to bring in some elements. -->
    <link rel="import" href={{url_for('static', filename='bower_components/paper-button/paper-button.html', _external=True)}}>
    <link rel="import" href={{url_for('static', filename='bower_components/paper-input/paper-input.html', _external=True)}}>
    <link rel="import" href={{url_for('static', filename='bower_components/paper-toolbar/paper-toolbar.html', _external=True)}}>
    <link rel="import" href={{url_for('static', filename='bower_components/paper-tabs/paper-tabs.html', _external=True)}}>
    <link rel="import" href={{url_for('static', filename='bower_components/paper-toast/paper-toast.html', _external=True)}}>
    {% endblock %}

    <!-- import of CSS stylesheet for base template (I.E, this file...)-->
    <link type="text/css" rel="stylesheet" href={{url_for('static', filename='base.css')}}>
  </head>
  <body>
    <!-- 3. Declare the element. Configure using its attributes. -->
    <paper-toolbar id="nav-bar">
        <img src={{url_for('static', filename='barrel.ico', _external=True)}}>
        <h1> &nbsp; Tavern Cellar </h1>

        <paper-tabs id="navButtons"selected="0" >
            <style is="custom-style">
              .link {
                @apply(--layout-horizontal);
                @apply(--paper-tab-color: brown);

              }
            </style>
            <paper-tab><a href="browse" class="link" tabindex="-1">Browse</a></paper-tab>
            <paper-tab><a href="submit" class="link" tabindex="-1">Submit</a></paper-tab>
            <paper-tab><a href="login" class="link" tabindex="-1">Login</a></paper-tab>
        </paper-tabs>
    </paper-toolbar>

    <!--Get any necessary messages using 'flash()' Here. -->
    {% for message in get_flashed_messages() %}
        <paper-toast text="{{ message }}" opened> </paper-toast>
    {% endfor %}

    {% block content %}
    
    <!-- This block sets up template inheritance for the other templates. Ideally, we want the rest of
    our changes to reside between the nav-bar and footer. -->

    {% endblock %}
    <paper-toolbar id="footer">
        <span class="copyright"/>&copy; 2016 Tavern Labs, a UCSC project</span>
        <paper-tabs id="footButtons" selected="0" >
            <paper-tab>Feedback</paper-tab>
            <paper-tab><a href="https://github.com/kwmcc/TavernCellar" class="link" tabindex="-1">Github</a></paper-tab>
            <paper-tab>About</paper-tab>
        </paper-tabs>
    </paper-toolbar> 

    <script>
      // To ensure that elements are ready on polyfilled browsers, 
      // wait for WebComponentsReady. 
      document.addEventListener('WebComponentsReady', function() {
        var input = document.querySelector('paper-input');
        var button = document.querySelector('paper-button');
        var greeting = document.getElementById("greeting");
        button.addEventListener('click', function() {
          greeting.textContent = 'Hello, ' + input.value;
        });
      });
    </script>
  </body>
</html>

