<!doctype html>
{% extends 'base.html' %}

{% block content %}
{% if current_user.id!=user_id %}
	<script>window.location.href='/srd/' + '{{ title}}';</script>
{% endif %}
<title>Edit</title>
<h1>Edit {{ title }}</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var max_fields      = Infinity; //maximum input boxes allowed
    var wrapper         = $(".tag_fields_wrap ul"); //Fields wrapper
    var add_button      = $(".tag_field_button"); //Add button ID
    
    var x = 0; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            $(wrapper).append('<li><input id="tag-' + x + '" name="tag-' + x + '" type="text" value=""><a href="#" class="remove_field">Remove</a></div></li>'); //add input box
            x++; //text box increment
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('li').remove(); x--;
    })
});
</script>
<form action="/edit/{{title}}" method=post enctype=multipart/form-data>
	{{form.hidden_tag()}}
	<button class="tag_field_button">Add Tag</button>
	<div class="tag_fields_wrap">
		<ul class="tag" id="tag">
		</ul>
	</div>
	<br>
	{{form.description.label}}<br>
	{{form.description}}<br>
	{{form.file}}<br>
	{{form.submit}}
</form>
{% endblock %}
