{% extends 'base.html' %}

{% block head %}
    {{ super() }}

    <link type="text/css" rel="stylesheet" href={{url_for('static', filename='index.css')}}>
{% endblock %}

{% block content %}
<title>Tavern Cellar</title>

<paper-toolbar id="topBrews">
    <h1> &nbsp; Top Brews</h1>
    <paper-tabs id="topButtons" selected="0">
        <paper-tab>This Week</paper-tab>
        <paper-tab>This Month</paper-tab>
        <paper-tab>All Time</paper-tab>
    </paper-tabs>

</paper-toolbar>
<paper-toolbar id="newBrews">
    <h1> &nbsp; New Brews</h1>
    <paper-tabs id="newButtons" selected="0">
        <paper-tab>This Week</paper-tab>
        <paper-tab>This Month</paper-tab>
        <paper-tab>All Time</paper-tab>
    </paper-tabs>
</paper-toolbar>

<div id="main-wrap">
    <div class="topBrews-container">
        {% for srd in newest %}
            <div class="top-brew">
                <a href="{{ url_for('main.srd',title=srd.title) }}">{{srd.title}}</a><br>
                {{srd.description}}
            </div>
         {% endfor %}
    </div>

    <div class="newBrews-container">
        {% for srd in newest %}
            <div class="new-brew">
                <a href="{{ url_for('main.srd',title=srd.title) }}">{{srd.title}}</a><br>
                {{srd.description}}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
