{% extends 'base.html' %}

{% block head %}
    {{ super() }}

    <link type="text/css" rel="stylesheet" href={{url_for('static', filename='index.css')}}>
{% endblock %}

{% block content %}
<paper-toolbar id="topBrews">
    <h1> &nbsp; Top Brews</h1>
    <paper-tabs id="topButtons" selected="0">
        <paper-tab>This Week</paper-tab>
        <paper-tab>This Month</paper-tab>
        <paper-tab>All Time</paper-tab>
    </paper-tabs>
</paper-toolbar>

<paper-toolbar id="newBrews">
    <h1> &nbsp; New Brews</h1>
    <paper-tabs id="newButtons" selected="0">
        <paper-tab>This Week</paper-tab>
        <paper-tab>This Month</paper-tab>
        <paper-tab>All Time</paper-tab>
    </paper-tabs>
</paper-toolbar>
{% endblock %}
