{% extends 'base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var upvote      = $(".upvote"); //Add button ID
	var downvote    = $(".downvote"); //Add button ID
	var values    = $(".values"); //Add button ID
});
</script>
<div class="page-header">
	<head>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
	</head>
    <h1>SRD</h1>
	<p>{{ srd.title }}</p>
	<input type="button" value="View" onclick="window.location.href='/view/' + '{{ srd.filename}}';"/>
	<p>{{ srd.description }}</p>
	<p>{{ moment(srd.submissiontime).format('LLL') }}</p>
	<h2>TAGS</h2>
	{% for tag in tags %}
        {{ tag.content }}
    {% endfor %}<br>
	<button class="upvote">upvote</button>
	<button class="downvote">downvote</button>
	<div class = "values">
	</div>
</div>
{% endblock %}
